{% extends "layout.html" %} {% block content %}
<h1>使用说明</h1>
<div class="container-fluid">
    <article class="media content-section">
        <ul>
            <li>此平台数据全部来自印特工单系统,每隔1分钟同步一次;</li>
            <li>参考图可以是各种图展示,包括设计图,效果图,现场安装后实物图等;操作方法:
                <ol>
                    <li>把需要展示图片文件存入工单附属文件的xgt(意为效果图首字母缩写)目录;</li>
                    <li>英文分号(;)分隔填入,例如"a.jpg;b.png";</li>
                </ol>
            </li>
            <li>此平台数据全部来自印特工单系统,每隔1分钟同步一次;ok</li>
            <li>此平台数据全部来自印特工单系统,每隔1分钟同步一次;ok</li>
            <li>此平台数据全部来自印特工单系统,每隔1分钟同步一次;ok</li>
        </ul>
    </article>
    <pre>
  ___________________________
< I'm an expert in my field. >
  ---------------------------
         \   ^__^ 
          \  (oo)\_______
             (__)\       )\/\
                 ||----w |
                 ||     ||
  </pre>
</div>
{% endblock content %}