{% extends "layout.html" %} {% set prices = [0] -%} {% block content %}
<div class="container-fluid">
    <article class="media content-section">
        <img class="rounded-circle article-img">
        <div class="media-body">
            <table border="1" class="text-center" bgcolor="#f5f5ef">
                <TR bgcolor="#d7d7c1" height="25px" width="60px">
                    <TH class="text-center" width="25px">ID</TH>
                    <TH class="text-center" width="100px">工单编号</TH>
                    <TH class="text-center" width="120px">客户名称</TH>
                    <TH class="text-center" width="700px">任务名称</TH>
                    <TH class="text-center" width="100px">工单小计</TH>
                    <TH class="text-center" width="100px">创建日期</TH>
                    <TH class="text-center" width="115px">创建人员</TH>
                </TR>
                {% for post in posts.items %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ post.ytid }}</td>
                    <td class="text-center">{{ post.customer }}</td>
                    <td class="text-right">{{ post.title|truncate}}</td>
                    <td class="text-right">{{ post.price}}</td>
                    <td class="text-center">{{ post.date_posted.strftime('%Y-%m-%d') }}</td>
                    <td class="text-center">{{ post.author.username }}</td>
                </tr>
                {% if prices.append(prices.pop()+ post["price"]) -%}{% endif %} {% endfor %}
                <TR>
                    <TH class="text-right" colspan="4" height="30px">费用总计</TH>
                    <TH class="text-center" colspan="3">{{ prices[0] }}</TH>
                </TR>
            </table>
        </div>
    </article>
</div>
{% for post in posts.items %}
<div class="container-fluid">
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + '17b9e27d9f36cde5.png') }}">
        <div class="media-body">
            <table border="1" class="text-center" bgcolor="#f5f5ef">
                <TR>
                    <TH>客户名称</TH>
                    <TH class="text-left" colspan="5" height="25px">{{ post.customer}}</TH>
                    <TH height="25px">联系人员</TH>
                    <TD colspan="1">{{ post.contacts}}</TD>
                    <TH>联系电话</TH>
                    <TD colspan="1">{{post.phone}}</TD>

                </TR>
                <TR>
                    <TH style="width: 60px">工单编号</TH>
                    <TH class="text-left" colspan="9" height="25px" width="1200px">{{ post.ytid }}</TH>
                </TR>
                <TR>
                    <TH height="25px">任务名称</TH>
                    <TD class="text-left" colspan="9">{{ post.title }}</TD>
                </TR>
                <TR>
                    <TH height="60px">备注内容</TH>
                    <TD class="text-left" colspan="9">{{ post.detail}}</TD>
                </TR>
                <TR>
                    <TH>创建日期</TH>
                    <TD class="text-left" colspan="9">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</TD>
                </TR>
                <TR bgcolor="#d7d7c1">
                    <TH height="25px">RowId</TH>
                    <TH width="120px">子项</TH>
                    <TH width="25px">单价</TH>
                    <TH width="25px">单位</TH>
                    <TH width="15px">数量</TH>
                    <TH width="10px">份数</TH>
                    <TH width="25px">参考图</TH>
                    <TH width="25px">创建时间</TH>
                    <TH width="25px">计算公式(元)</TH>
                    <TH width="25px">备注</TH>
                </TR>
                {% for postdtl in postdtls %} {% if postdtl.ytid == post.ytid %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-right">{{ postdtl.busisubname }}</td>
                    <td class="text-center">{{ postdtl.receiveprice }}</td>
                    <td class="text-center">{{ postdtl.busisubunit }}</td>
                    <td class="text-center">{{ postdtl.numexp }}</td>
                    <td class="text-center">{{ postdtl.copys }}</td>
                    <td class="text-left">
                        {% for render in postdtl.renderimg.split(";") %} {% if render %}
                        <div class="item">
                            <a href="http://img.tuozhanad.com/{{postdtl.customer}}/{{postdtl.date_posted.strftime('%Y-%m-%d')}}/{{postdtl.ytid}}/xgt/{{render}}">
           <img src="http://img.tuozhanad.com/{{postdtl.customer}}/{{postdtl.date_posted.strftime('%Y-%m-%d')}}/{{postdtl.ytid}}/xgt/{{render}}" alt="{{render}}" height=40>
           </a>
                        </div>
                        {% endif %} {% endfor %}
                    </td>
                    <td class="text-center">{{ postdtl.create_time.strftime('%m-%d %H:%M') }}</td>
                    <td class="text-center">{{ postdtl.receiveprice}} * {{postdtl.numexp}} * {{postdtl.copys }}</td>
                    <td class="text-center">{{ postdtl.remark }}</td>
                </tr>
                {% endif %} {% endfor %}
                <TR>
                    <TH class="text-right" colspan="8" height="30px">累计金额</TH>
                    <TH class="text-center" colspan="2">{{ post.price}}</TH>
                </TR>
            </table>
        </div>
    </article>
</div>
{% endfor %} {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('users.tuozhan', page=page_num) }}">{{ page_num }}</a> {% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('users.tuozhan', page=page_num) }}">{{ page_num }}</a> {% endif %} {% else %} ... {% endif %} {% endfor %}
<!-- Modal -->
{% endblock content %}